.btnBackground{
  background: #d4aa9c;
  /* display: inline-block; */
}
.textcolor{
  color: #49da99;
  /* display: inline-block; */
}

.fw-bold{
  FONT-SIZE: 50px;
}
.boxfixsize{
  height: 50%;
  width: 50%;
}
.OneMargin{
margin-bottom: 1px;
}
/* .mb-6{
  margin-bottom: 13rem !important;
} */
.servicewidth{
  /* width: 33%; */
}
.servicewidth :hover{
 background: #c4fae2;
}
.caps {
  text-transform: uppercase; /* Converts text to uppercase */
}

.servicewidth:hover .btnBackground {
  background: #000000; /* Set the new color */
  color: white;
}
.mr-2{
  margin-right: 10px;
}
.card{
  border-radius: 30px;
  width: 100%;
}
/* 
.bg-gray-100 {
  background-image: url('background1.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
} */
#logoId{
  width: 25%;
}

@media only screen and (max-width: 991px) {
  html:not(.no-js) [data-aos^=fade][data-aos^=fade] {
     opacity: 1; 
     transition-property: none, none; 
}
html:not(.no-js) [data-aos=fade-left] {
   transform:none; 
}
#aboutus{
  margin-top: 70px;
}
#hometitle{
  text-align: center;
  background: #6b6b6ba6;
  color: #fff;
}
.reverse-mobile {
  flex-direction: column-reverse;
  }
  .boxfixsize{
    height: 50%;
    width: 100%;
  }
  .formobile .col-4{
    width: 100%;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 992px) {
#aboutus{
  margin-top: 70px;
}
}

